#logo {
    width: 362px;
    margin: auto;
}

h1 {
    font-family: Times, serif;
    color: crimson;
    text-align: center;
    border-bottom: thick solid #DC143C;
}

h2 {
    font-family: Times, serif;
    color: #000099;
}

legend {
    font-weight: bold;
}

.error{
    font-weight: bold;
    font-size: 115%;
    color: #DC143C;
  }

button {
    background-color: #DC143C;
    color: #000099;
    font-weight: bold;
    font-size: 1rem;
    border: 3px solid #000066;
    padding: 0.45rem;
    margin: 0.75rem;
    width: 24rem;
    border-radius: 0.75em;
  }

footer {
    color: #DC143C;
    margin: auto;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    border-top: thick solid #DC143C;
  }