/* body {
} remove this and add my own styles later if I want to */
section#main {}

.description {
    width: 500px;
    margin: auto;
    padding-bottom: 10px;
    text-align: justify;
}

img.cover {
    width: 150px;
}