#image {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: crimson;
    text-align: center;
    border-bottom: thick solid #DC143C;
}

h2 {
    color: crimson;
    text-align: center;
}

nav {
    border-bottom: 1px solid #C0C0C0;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

nav ul li {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #DC143C;
}

a.active:link,
a.active:visited,
a.active:active,
a.active:hover {
    color: #DC143C;
}

.flash-alert {
    background-color: blue;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

.edit {
    color: blue;
    font-weight: bold;
    font-size: 120%;
}

.users {
    margin-left: 0.5rem;
}

#username {
    margin-left: 0.5rem;
    color: crimson;
}

footer {
    color: #DC143C;
    margin: auto;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    border-top: thick solid #DC143C;
  }